@font-face {
	font-family: 'Prata';
	src: local('PrataRegular'),
       url('../fonts/PrataRegular.woff2') format('woff2'),
		   url('../fonts/PrataRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: 'Raleway';
	src: local('RalewayLight'),
       url('../fonts/RalewayLight.woff2') format('woff2'),
		   url('../fonts/RalewayLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: 'Raleway';
	src: local('RalewayRegular'),
       url('../fonts/RalewayRegular.woff2') format('woff2'),
		   url('../fonts/RalewayRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: 'Raleway';
	src: local('RalewayMedium'),
       url('../fonts/RalewayMedium.woff2') format('woff2'),
		   url('../fonts/RalewayMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
  font-display: swap;
}

:root {
	--accent-yellow-color: #faca47;
	--accent-red-color: #ad2d11;
  --white-color: #fff;
  --black-color: #000;
	--beige-bg-color: #fdfaf4;
	--dark-bg-color: #181515;
  --main-font-family: "Raleway", sans-serif;
  --accent-font-family: "Prata", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
img {
  max-width: 100%;
  -o-object-fit: cover;
      object-fit: cover;
}
body {
  position: relative;
  min-width: 320px;
  font-family: var(--main-font-family);
  background-color: var(--beige-bg-color);
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.link-reset {
  text-decoration: none;
  color: inherit;
}
.link-reset {
  outline: none;
}
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1206px;
}
.section-title {
  margin: 0;
  margin-bottom: 62px;
  font-family: var(--accent-font-family);
  font-weight: 400;
  font-size: 32px;
  color: var(--accent-red-color);
}
.section-descr {
  margin: 0;
  margin-left: auto;
  max-width: 676px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.header__menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  margin: 0 auto;
  max-width: 976px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 64px;
  padding: 32px 60px 25px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}
.menu__link {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black-color);
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  cursor: pointer;
}
.menu__link:focus-visible,
.menu__link:hover {
  color: var(--accent-red-color);
}
.menu__link:active {
  color: var(--accent-yellow-color);
}

/* section promo */
.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 176px;
  width: 100%;
  height: 100vh;
  max-height: 732px;
  background-color: var(--beige-bg-color);
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.promo__content {
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}
.promo__title {
  margin: 0 0 10px;
  font-family: var(--accent-font-family);
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  color: var(--accent-red-color);
}
.promo__descr {
  margin: 0;
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--black-color);
}

/* section about */
.about {
  margin-bottom: 124px;
  padding-top: 24px;
}
.about__slider {
  position: relative;
  overflow: hidden;
  max-width: 1364px;
  max-height: 476px;
  margin-right: auto;
}
.swiper-slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  width: 100%;
}
.swiper-slide__img {
  max-width: 57%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.swiper-pagination {
  position: relative;
	padding: 4px 10px;
}
.swiper-pagination-bullet {
  margin: 0;
	border-radius: 0;
	width: 32px;
	height: 2px;
	background-color: var(--white-color);
  opacity: 1;
}
.swiper-pagination-bullet-active {
	background-color: var(--accent-yellow-color);
}
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 18px;
  width: auto;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}
.swiper-control {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  z-index: 5;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.swiper-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-transform: translateY(-119%);
          transform: translateY(-119%);
}
.swiper__btn {
  color: var(--accent-red-color);
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}
.swiper__btn:focus-visible:not(.swiper-button-disabled),
.swiper__btn:hover:not(.swiper-button-disabled) {
  outline: none;
  color: var(--accent-yellow-color);
}
.swiper__btn svg {
  stroke: currentColor;
}
.swiper-button-disabled {
  color: var(--black-color);
}
.swiper-slide__text {
  margin: 0;
  padding: 0 15px;
  max-width: calc(27.5% - 15px);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  -webkit-transform: translateX(-95px);
          transform: translateX(-95px);
}

/* section slogan */
.slogan {
  padding-top: 51px;
  padding-bottom: 51px;
  background-color: var(--white-color);
}
.slogan__container {
  position: relative;
}
.slogan__container:before,
.slogan__container:after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
}
.slogan__container:before {
  top: 0;
  right: 87px;
  width: 175px;
  height: 267px;
  background-image: url(../img/slogan/slogan-2.png);
}
.slogan__container:after {
  bottom: -16px;
  left: 79px;
  width: 240px;
  height: 315px;
  background-image: url(../img/slogan/slogan-1.png);
}
.slogan__desr {
  margin: 0;
  padding: 140px 62px 172px 0;
  font-family: var(--accent-font-family);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px;
}
/* section history */
.history {
  padding-top: 124px;
  padding-bottom: 188px;
  background-color: var(--beige-bg-color);
}
.history__title {
  margin-bottom: 64px;
}
.history__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 976px;
  counter-reset: number 0;
}
.history__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  counter-increment: number;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.history__item::before {
  content: counter(number);
  position: absolute;
  top: calc(50% - 20px);
  left: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  font-family: var(--accent-font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: var(--white-color);
  background-color: var(--accent-yellow-color);
  z-index: 2;
}
.history__descr {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  max-width: 312px;
}
.history__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
  padding-left: 41px;
  border-left: 1px solid var(--accent-yellow-color);
  max-width: 312px;
  min-height: 100px;
  text-align: center;
  font-family: var(--accent-font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.history__event {
  padding: 12px;
  padding-left: 41px;
  border-top: 1px solid var(--accent-yellow-color);
  border-left: 1px solid var(--accent-yellow-color);
  min-width: 312px;
  min-height: 100px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}
.history__img  {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.history__img-container {
  position: relative;
  border: 1px solid var(--accent-yellow-color);
  border-radius: 100%;
  width: 176px;
  height: 176px;
  background-color: var(--beige-bg-color);
  z-index: 2;
}
.history__item:first-child::before  {
  top: calc(47% - 20px);
}
.history__item:last-child::before   {
  top: calc(47% - 20px);
}
.history__item:first-child .history__time {
  border-left: none;
  min-height: 88px;
}
.history__item:last-child .history__time {
  min-height: 88px;
}
.history__item:last-child .history__event {
  border-left: none;
}
.history__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.history__item:nth-child(even)::before  {
  left: auto;
  right: -20px;
  top: calc(50% - 20px);
}
.history__item:nth-child(even) .history__time {
  padding-right: 41px;
  border-right: 1px solid var(--accent-yellow-color);
  border-left: none;
}
.history__item:nth-child(even) .history__event {
  padding-left: 12px;
  padding-right: 41px;
  border-right: 1px solid var(--accent-yellow-color);
  border-left: none;
}

/* section attractions */
.attractions {
  padding: 124px 0 80px;
  background-color: var(--white-color);
}
.attractions__title {
  margin-bottom: 162px;
}
.attractions__descr {
  margin-bottom: 180px;
}
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding: 75px 0 100px;
  border-top: 0.5px solid var(--accent-yellow-color);
}
.card__title {
  margin: 0;
  margin-right: auto;
  max-width: 188px;
  font-family: var(--accent-font-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.card__img {
  display: block;
  margin-right: 24px;
  max-width: 376px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__descr {
  margin: 0;
  margin-top: -5px;
  max-width: 476px;
  font-size: 16px;
  font-variant-numeric: lining-nums proportional-nums;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  white-space: pre-line;
}

/* section budget */
.budget {
  padding-top: 124px;
  padding-bottom: 200px;
}
.budget__descr {
  margin-bottom: 200px;
}
.budget__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.budget-card {
  padding: 132px 26px 16px;
  min-width: 276px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: top 40px center;
}
.budget-card:nth-child(1) {
  background-image: url(../img/budget/budget-1.svg);
}
.budget-card:nth-child(2) {
  background-image: url(../img/budget/budget-2.svg);
}
.budget-card:nth-child(3) {
  background-image: url(../img/budget/budget-3.svg);
}
.budget-card:nth-child(4) {
  background-image: url(../img/budget/Сувениры.png);
}
.budget-card__title {
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
}
.budget-card__price {
  display: block;
  margin: 0;
  text-align: center;
  font-family: var(--accent-font-family);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

/* section map */
.map {
  padding-top: 50px;
}
.map__block{
  width: 100%;
  height: 475px;
  background-color: var(--dark-bg-color);
}
[class*="ground-pane"] {
            filter: hue-rotate(230deg);
              -ms-filter: hue-rotate(230deg);
            -webkit-filter: hue-rotate(230deg);
             -moz-filter: hue-rotate(230deg);
            -o-filter: hue-rotate(230deg);
}
[class*="copyrights-pane"] {
  display: none!important;
}

/* footer */
.footer {
  padding-top: 48px;
  padding-bottom: 24px;
  background-color: var(--dark-bg-color);
  color: var(--beige-bg-color);
}
.footer__nav {
  margin: 0 127px 5px auto;
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  -webkit-column-gap: 105px;
     -moz-column-gap: 105px;
          column-gap: 105px;
  max-width: 450px;
}
.footer__item:not(:last-child) {
  margin-bottom: 16px;
}
.footer__link {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer__link:focus-visible,
.footer__policy:focus-visible {
  outline: none;
}
.footer__link:focus-visible,
.footer__link:hover,
.footer__policy:focus-visible,
.footer__policy:hover {
  color: var(--accent-yellow-color);
}
.footer__link:active {
  color: var(--accent-red-color);
}
.footer__copy,
.footer__policy {
  display: inline-block;
  margin-right: 53px;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
