@font-face {
	font-family: 'Prata';
	src: local('PrataRegular'),
       url('../fonts/PrataRegular.woff2') format('woff2'),
		   url('../fonts/PrataRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: 'Raleway';
	src: local('RalewayLight'),
       url('../fonts/RalewayLight.woff2') format('woff2'),
		   url('../fonts/RalewayLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: 'Raleway';
	src: local('RalewayRegular'),
       url('../fonts/RalewayRegular.woff2') format('woff2'),
		   url('../fonts/RalewayRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: 'Raleway';
	src: local('RalewayMedium'),
       url('../fonts/RalewayMedium.woff2') format('woff2'),
		   url('../fonts/RalewayMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
  font-display: swap;
}

:root {
	--accent-yellow-color: #faca47;
	--accent-red-color: #ad2d11;
  --white-color: #fff;
  --black-color: #000;
	--beige-bg-color: #fdfaf4;
	--dark-bg-color: #181515;
  --main-font-family: "Raleway", sans-serif;
  --accent-font-family: "Prata", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* scroll-behavior: smooth; */
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
img {
  max-width: 100%;
  -o-object-fit: cover;
      object-fit: cover;
}
body {
  position: relative;
  min-width: 320px;
  font-family: var(--main-font-family);
  background: var(--beige-bg-color);
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.link-reset {
  text-decoration: none;
  color: inherit;
}
.link-reset {
  outline: none;
}
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.visually-hidden {
  position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1206px;
}
.section-title {
  margin: 0;
  margin-bottom: 62px;
  font-family: var(--accent-font-family);
  font-weight: 400;
  font-size: 32px;
  color: var(--accent-red-color);
}

.header__menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  margin: 0 auto;
  max-width: 976px;
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px;
  padding: 32px 60px 25px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}
.menu__link {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black-color);
  transition: color .3s ease-in-out;
  cursor: pointer;
}
.menu__link:focus-visible,
.menu__link:hover {
  color: var(--accent-red-color);
}
.menu__link:active {
  color: var(--accent-yellow-color);
}
.promo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 176px;
  width: 100%;
  height: 100vh;

  max-height: 732px;
  background: var(--beige-bg-color);
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.promo__content {
  transform: translateY(-15%);
}
.promo__title {
  margin: 0 0 10px;
  font-family: var(--accent-font-family);
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  color: var(--accent-red-color);
}
.promo__descr {
  margin: 0;
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--black-color);
}
.about {
  margin-bottom: 124px;
  padding-top: 24px;
}

.slider__container {
  position: relative;
  overflow: hidden;
  max-width: 1364px;
  max-height: 476px;
  margin-right: auto;
}
.swiper {}
.swiper-slide {}
.swiper-slide__content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
}
.swiper-slide__img {
  max-width: 57%;
  /* max-width: 771px; */
  /* width: 100%; */
  object-fit: cover;
  object-position: center;
}

.swiper-pagination {
  position: relative;
	padding: 4px 10px;
}
.swiper-pagination-bullet {
  margin: 0;
	border-radius: 0;
	width: 32px;
	height: 2px;
	background: #fff;
  opacity: 1;
}
.swiper-pagination-bullet-active {
	background: #faca47;
}
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 18px;
  width: auto;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}
.swiper-control {
  position: relative;
  /* position: absolute; */
  /* left: calc((100% - 776px)/2); */
  /* bottom: 0; */
  display: flex;
  align-items: end;
  /* justify-content: space-between; */
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  /* max-width: 59%; */
  width: 100%;
  z-index: 5;
  transform: translateY(-100%);
}
.swiper-navigation {
  display: flex;
  gap: 24px;
  /* margin-left: auto; */
  transform: translateY(-119%);
}
.swiper__btn {
  color: #ad2d11;
}
.swiper__btn svg {
  stroke: currentColor;
}
.swiper-slide__text {
  margin: 0;
  padding: 0 15px;
  max-width: calc(27.5% - 15px);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  transform: translateX(-95px);
}

.slogan {
  padding-top: 51px;
  padding-bottom: 51px;
  background: var(--white-color);
}
.slogan__container {}
.slogan__desr {
  position: relative;
  margin: 0;
  padding: 140px 62px 172px 0;
  font-family: var(--accent-font-family);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px;
}
.slogan__desr:before,
.slogan__desr:after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  /* opacity: 0.3; */
}
.slogan__desr:before {
  top: 0;
  right: 87px;
  width: 175px;
  height: 267px;
  background-image: url(../img/slogan-2.png);
}
.slogan__desr:after {
  bottom: -16px;
  left: 79px;
  width: 240px;
  height: 315px;
  background-image: url(../img/slogan-1.png);
}

